.head {
    background-image:linear-gradient(to bottom, #5E9F4B, #fff );
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    -webkit-background-clip: text;
    line-height: 4.5rem;
}

@media (max-width:640px){
    .head{
        line-height: 2.5rem;
    }
}

@media (min-width:640px) and (max-width:768px) {
    .head{
        line-height: 3rem;
    }
}
