.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-radius: 0 !important;
}

@media (max-width:640px){
    .box .css-j204z7-MuiFormControlLabel-root {
        
        align-items: start;
    }

    .box .css-k5t796-MuiButtonBase-root-MuiCheckbox-root{
        padding-top: 0px !important;
    }
}


