.css-1nzm08w-MuiInputBase-root-MuiOutlinedInput-root {
    color: white;
}

.css-1nzm08w-MuiInputBase-root-MuiOutlinedInput-root {
    color: white !important;
}

.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
    height: 1rem !important;
}

